## Agenda 

1. What is Python 
2. Why we are using Python 
3. Where and all we can use Python 
4. Install Python 
5. Data types

In [8]:
print('Hellow world!')
print('Parthiban')
print('Pattabhi')
print('Manikaran')
print('Hellow world!')
print('BPMLinks')

Hellow world!
Parthiban
Pattabhi
Manikaran
Hellow world!
BPMLinks

In [13]:
print(type('BPMLinks'))
print(type(100000000))
print(type(2586397451))
print(type(7.28))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

In [21]:
Name = 'Parthiban'

Phone = 8965847456

Price = 73.58

print(Name)

# Name[1]

# Phone[1]

Price[1]

Parthiban

TypeError: 'float' object is not subscriptable

In [29]:
Name = 'Raghul is working a Data Engineer'

print(Name[20:])
print(Name[20::2])

print(Name[5:15])
print(Name[1])

## Start Value, End Value, Step (Jump)

Data Engineer
Dt nier
l is worki
a

In [25]:
print(Name[20])
print(Name[22])
print(Name[24])
print(Name[26])
print(Name[28])
print(Name[30])
print(Name[32])

D
t

n
i
e
r

In [31]:
parag = 'Register to get everything you need to get started on your workstation including Cloud Notebooks, Navigator, AI Assistant, Learning and more'
print(parag[-1])

e

In [39]:
Value = "Data Engineer"

print(Value[-5:])

Name = "Parthiban Jaishankar"


# raknahsiaj nabithraP

ineer

In [41]:
Name = 'Parthiban'

Name[::-1]

'nabihtraP'

In [47]:
## <, >, <=, >=, !=, == -- Boolean 

# is 23 is greater than 20 

23 > 20

True

In [48]:
print(type(23 > 20))

<class 'bool'>

In [59]:
## Type casting

Name = '12345678.098'
Vale = "1"
print(type(Name))

Name_Int = bool(Vale)

print(Name_Int)

print(type(Name_Int))

<class 'str'>
True
<class 'bool'>

In [60]:
bool('Parthiban')

True

In [61]:
bool(0)

False

In [62]:
bool('')

False

In [63]:
bool(' ')

True

In [64]:
bool(1)

True

In [67]:
## How Iam going to get the input from the user 

Name = 'Raghul'

print(Name)
print(Name)

Name = Name + 'Maduri'

print(Name)

Raghul
Raghul
RaghulMaduri

In [68]:
a = 10 
print(a)

10

In [72]:
a = a + 1

print(a)

a = a + 10

print(a)

214
224

In [73]:
b = a 
print(b)

224

In [79]:
Start = float(input("Enter a Value"))

print(Start)
print(type(Start))

123.69
<class 'float'>

In [ ]:
## First and Last Name 

# Parthiban 
# Jaishankar 

## Parthiban Jaishankar

In [81]:
## Operator

10 ** 0.5
10 ** -1

3.1622776601683795

In [82]:
2**5

32

In [84]:
## Comparsion operators -- True or false

# < > <= >= ==, !=

2 > 5

False

In [86]:
a = 10
b = 20 

print(a < b)
print(a > b)

print(a <= b)
print(a >= b)
print(a == b)
print(a != b)

True
False
True
False
False
True

In [87]:
## == and = 

# = Assigning

a = 10

print(a)

10

In [88]:
a == 10

True

In [91]:
## If Satement

## < 18 -- I cant vote / I Cant drink

## > 18 -- I Can vote < -- I cant drink 

## >18 and > 21 -- I can do both 

age = int(input())

if age < 18:
    print("You cant vote and you cant drink")
else:
    if age >= 18 and age < 21:
        print("You can vote but not able to drink")
    else:
        if age >= 18 and age>= 21:
            print("You can vote and drink ")
        else:
            print("Enter a valid age ")

You can vote and drink

In [94]:
# Elif

age = int(input("Enter a age "))
if age < 18:
    print("You cant vote and you cant drink")
elif age >= 18 and age < 21:
    print("You can vote but not able to drink")
elif  age >= 18 and age>= 21:
    print("You can vote and drink ")
else:
    print("Enter a valid age")

You can vote and drink

In [ ]:
## 8 - 12 Good morning
## 12 - 15 Good after noon
## 15 - 18 Good Evening 
## 18 > - Good night

In [111]:
## 500 and 200 

amount = int(input("Enter the amount"))

if (amount%500)%200 == 0:
    print("Amount is processing")
elif amount%500 == 0:
    print("Amount is processing")
elif amount%200 == 0:
    print('Amount is processing')
elif (amount - 500)%200 == 0:
    print('Amount is processing')
else:
    print('Enter a valid amount')

Amount is processing

In [107]:
(1200%500)%200

0

In [109]:
1100 - 500

600